@font-face {
  font-family: "Gotham";
  src: url("../fonts/gotham/Gotham-Light.otf");
}

@font-face {
  font-family: "Gotham-bold";
  src: url("../fonts/gotham/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham-medium";
  src: url("../fonts/gotham/GothamMedium.ttf");
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/metropolis/Metropolis-Light.otf");
}

@font-face {
  font-family: "Metropolis-bold";
  src: url("../fonts/metropolis/Metropolis-Bold.otf");
}

@font-face {
  font-family: "Metropolis-black";
  src: url("../fonts/metropolis/Metropolis-Black.otf");
}

@font-face {
  font-family: "Metropolis-medium";
  src: url("../fonts/metropolis/Metropolis-Medium.otf");
}

body {
  font-family: "Metropolis";
  margin: 0;
  padding: 0;
}

header nav {
  height: 56px;
  line-height: 56px;
  background-color: #3C4447;
}

header nav #logo-coniser {
  margin-left: 10px;
}

header nav #hamb-menu {
  height: 100%;
  margin: auto 15px auto 0;
}

header nav #hamb-menu img {
  width: 30px;
}

header nav .mob-menu-coniser {
  background-color: #3C4447;
  display: inline-block;
  height: 100vh;
  padding-top: 10px;
  position: fixed;
  top: 56px;
  opacity: 0;
}

header nav .mob-menu-coniser li {
  border-style: none none solid none;
  border-color: #F2F3F5;
  border-width: 1px;
  width: 100vw;
}

header nav .mob-menu-coniser li a {
  text-align: center;
  font-size: 24px;
  font-family: "Gotham-medium";
}

header nav .mob-menu-coniser .mob-social-links {
  border-style: none;
  margin-top: 50px;
}

section {
  margin: 0;
  padding: 0;
}

.hr-coniser {
  width: 80%;
  height: 2px;
  background-color: #FC990E;
  border-color: #FC990E;
}

#hero img {
  width: 100%;
  height: 58vw;
}

#hero .overlay-carousel {
  width: 100%;
  color: #F2F3F5;
  position: absolute;
  z-index: 10;
  background-color: #1414146b;
}

#hero .overlay-carousel h2 {
  font-size: 18px;
  font-family: "Metropolis-black";
}

#hero .overlay-carousel img {
  width: 23px;
}

#hero .overlay-carousel .row-overlay {
  height: 58vw;
  width: 100%;
  margin: 0;
}

#main-information {
  color: #F2F3F5;
}

#main-information .info-left {
  z-index: 1;
  border-radius: 7px;
  background-color: #FC990E;
}

#main-information .info-left img {
  height: 55px;
  margin-top: 16px;
}

#main-information .info-left h5 {
  font-size: 17px;
  font-family: "Gotham-bold";
}

#main-information .info-left p {
  font-size: 12px;
  margin-top: -3px;
}

#main-information .info-right {
  border-radius: 0 7px 7px 0;
  background-color: #222D60;
}

#main-information .info-right p {
  margin: 50px 0 50px 0;
  font-size: 15px;
}

#projects {
  color: #F2F3F5;
  background-color: #3C4447;
  background-size: 200% 105%;
  background-repeat: no-repeat;
  background-position: 75%;
  background-image: url("../img/background-projects.png");
}

#projects h3 {
  margin-top: 0;
  font-size: 24px;
  font-family: "Metropolis-black";
  padding-top: 15px;
  margin-bottom: 8px;
}

#projects .project-scroll {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

#projects .projects-showed {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto 0 auto;
  position: relative;
  right: -400px;
}

#projects .project-card {
  background-color: #FC990E;
  border-radius: 5px;
  width: 130px;
  margin: 0 auto 0 auto;
}

#projects .project-card img {
  margin-top: 8px;
  border-radius: 13px;
  width: 110px;
  height: 90px;
}

#projects .project-card h4 {
  white-space: normal;
  margin-top: -5px;
  text-align: left;
  font-size: 13px;
  padding: 10px;
}

#workers {
  color: #F2F3F5;
  background-color: #3C4447;
  background-size: 200% 105%;
  background-repeat: no-repeat;
  background-position: 75%;
  background-image: url("../img/background-workers.png");
}

#workers h3 {
  margin-top: 0;
  font-size: 26px;
  font-family: "Metropolis-black";
  padding-top: 15px;
  margin-bottom: 8px;
}

#workers p {
  font-size: 10px;
  text-align: left;
}

#workers #workers-photos-1,
#workers #workers-photos-2,
#workers #workers-photos-3 {
  z-index: 2;
  background-size: 90% 90%;
  background-repeat: no-repeat;
  margin: 5px 0 20px 0;
  position: relative;
}

#workers #workers-photos-1 img,
#workers #workers-photos-2 img,
#workers #workers-photos-3 img {
  width: 50%;
  margin: 0 -3px 0 -3px;
  border-radius: 5px;
}

#workers #workers-photos-1,
#workers #workers-photos-3 {
  background-image: url("../img/workers-bg-2.svg");
  background-position: 100% 100%;
  padding-right: 18px;
  padding-bottom: 5px;
  left: 1%;
}

#workers #workers-photos-2 {
  background-image: url("../img/workers-bg-1.svg");
  padding-top: 16px;
  padding-left: 16px;
  margin-top: 20px;
  right: 1%;
}

#information_welcome h2 {
  font-family: "Gotham-bold";
  font-size: 22px;
  margin-bottom: 10px;
}

#information_welcome p {
  font-family: "Metropolis";
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

#information-1_contact-us,
#information-2_contact-us {
  background-color: #3C4447;
  color: #F2F3F5;
}

#information-1_contact-us h2,
#information-2_contact-us h2 {
  font-family: "Gotham-bold";
  font-size: 20px;
  margin-bottom: 10px;
  padding-top: 25px;
  padding-bottom: 10px;
}

#information-1_contact-us iframe,
#information-2_contact-us iframe {
  width: 80%;
  margin: 0 auto 0 auto;
  height: 25vh;
}

#under_map_contac-us {
  padding-bottom: 20px;
}

#under_map_contac-us p {
  font-family: "Metropolis-medium";
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

#under_map_contac-us .col {
  margin-left: 10px;
}

#form-coniser {
  margin-top: 25px;
  /* label focus color */
}

#form-coniser label {
  font-family: "Metropolis-bold";
  font-size: 18px;
}

#form-coniser .input-field input[type=text]:focus + label {
  color: #FC990E;
}

#form-coniser .input-field input[type=email]:focus + label {
  color: #FC990E;
}

#form-coniser .input-field input[type=tel]:focus + label {
  color: #FC990E;
}

#form-coniser .input-field input[type=email]:focus + label {
  color: #FC990E;
}

#form-coniser .input-field textarea:focus + label {
  color: #FC990E;
}

#form-coniser .row .input-field input:focus {
  border-bottom: 1px solid #FC990E !important;
  -webkit-box-shadow: 0 1px 0 0 #FC990E !important;
          box-shadow: 0 1px 0 0 #FC990E !important;
}

#form-coniser .row .input-field textarea:focus {
  border-bottom: 1px solid #FC990E !important;
  -webkit-box-shadow: 0 1px 0 0 #FC990E !important;
          box-shadow: 0 1px 0 0 #FC990E !important;
}

#form-coniser .input-field .prefix.active {
  color: #FC990E;
}

#form-coniser button {
  background-color: #FC990E;
  font-family: "Metropolis-bold";
  font-size: 20px;
}

footer {
  background-color: #3C4447;
  color: #F2F3F5;
  margin-top: -20px;
}

footer p {
  margin: 0;
  padding: 10px 0 10px 0;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  header nav {
    height: 64px;
    line-height: 64px;
  }
  header nav #logo-coniser {
    margin-left: 30px;
  }
  header nav #logo-coniser img {
    width: 6em;
  }
  header nav a {
    font-family: "Gotham-bold";
  }
  #hero img {
    height: 56vw;
  }
  #hero .overlay-carousel h2 {
    font-size: 3rem;
    font-family: "Metropolis-black";
  }
  #hero .overlay-carousel img {
    width: 3rem;
  }
  #hero .overlay-carousel .row-overlay {
    height: 56vw;
  }
  #main-information {
    color: #F2F3F5;
  }
  #main-information .info-left {
    z-index: 1;
    border-radius: 7px;
    background-color: #FC990E;
  }
  #main-information .info-left img {
    height: 100px;
    margin-top: 10px;
  }
  #main-information .info-left h5 {
    font-size: 37px;
  }
  #main-information .info-left p {
    font-size: 13px;
    margin-top: -2px;
  }
  #main-information .info-right {
    border-radius: 0 7px 7px 0;
    background-color: #222D60;
  }
  #main-information .info-right p {
    margin: 30px 0 30px 0;
    font-size: 16px;
  }
  #projects h3 {
    font-size: 2.7rem;
  }
  #projects .project-scroll {
    overflow: auto;
    white-space: nowrap;
    width: 100%;
  }
  #projects .projects-showed {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto 0 auto;
    position: relative;
    right: -400px;
  }
  #projects .project-card {
    border-radius: 19px;
    width: 230px;
    height: 300px;
  }
  #projects .project-card img {
    margin-top: 15px;
    width: 200px;
    height: 200px;
  }
  #projects .project-card h4 {
    margin-top: -5px;
    font-size: 18px;
  }
  #workers h3 {
    font-size: 2.7rem;
  }
  #workers p {
    font-size: 1.5rem;
    text-align: center;
  }
  #workers #workers-photos-1,
  #workers #workers-photos-2,
  #workers #workers-photos-3 {
    z-index: 2;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    margin: 5px 0 20px 0;
    position: relative;
  }
  #workers #workers-photos-1 img,
  #workers #workers-photos-2 img,
  #workers #workers-photos-3 img {
    width: 40%;
    margin: 0 -3px 0 -3px;
    border-radius: 5px;
  }
  #workers #workers-photos-1,
  #workers #workers-photos-3 {
    background-image: url("../img/workers-bg-2.svg");
    padding-right: 25px;
  }
  #workers #workers-photos-2 {
    background-image: url("../img/workers-bg-1.svg");
    padding-top: 13px;
    padding-left: 10px;
  }
  #main_contact-us {
    margin-top: 5em;
    margin-bottom: 5em;
  }
}

@media screen and (min-width: 1024px) {
  #hero img {
    height: 70vh;
  }
  #hero .overlay-carousel h2 {
    font-size: 3rem;
    font-family: "Metropolis-black";
  }
  #hero .overlay-carousel img {
    width: 3rem;
  }
  #hero .overlay-carousel .row-overlay {
    height: 70vh;
  }
}
/*# sourceMappingURL=style.css.map */