$color_1:#3C4447;
$color_2:#F2F3F5;
$color_3:#FC990E;
$color_4:#222D60;
@font-face {
    font-family: "Gotham";
    src: url("../fonts/gotham/Gotham-Light.otf");
}

@font-face {
    font-family: "Gotham-bold";
    src: url("../fonts/gotham/Gotham-Bold.otf");
}

@font-face {
    font-family: "Gotham-medium";
    src: url("../fonts/gotham/GothamMedium.ttf");
}

@font-face {
    font-family: "Metropolis";
    src: url("../fonts/metropolis/Metropolis-Light.otf");
}

@font-face {
    font-family: "Metropolis-bold";
    src: url("../fonts/metropolis/Metropolis-Bold.otf");
}

@font-face {
    font-family: "Metropolis-black";
    src: url("../fonts/metropolis/Metropolis-Black.otf");
}

@font-face {
    font-family: "Metropolis-medium";
    src: url("../fonts/metropolis/Metropolis-Medium.otf");
}

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

body {
    font-family: "Metropolis";
    margin: 0;
    padding: 0;
}

header {
    $nav_heigth: 56px;
    nav {
        height: $nav_heigth;
        line-height: $nav_heigth;
        background-color: $color_1;
        #logo-coniser {
            margin-left: 10px;
        }
        #hamb-menu {
            height: 100%;
            margin: auto 15px auto 0;
            img {
                width: 30px;
            }
        }
        .mob-menu-coniser {
            background-color: $color_1;
            display: inline-block;
            height: 100vh;
            padding-top: 10px;
            position: fixed;
            top: $nav_heigth;
            opacity: 0;
            li {
                border-style: none none solid none;
                border-color: $color_2;
                border-width: 1px;
                width: 100vw;
                a {
                    text-align: center;
                    font-size: 24px;
                    font-family: "Gotham-medium";
                }
            }
            .mob-social-links {
                border-style: none;
                margin-top: 50px;
            }
        }
    }
}

section {
    margin: 0;
    padding: 0;
}

.hr-coniser {
    width: 80%;
    height: 2px;
    background-color: $color_3;
    border-color: $color_3;
}

#hero {
    $hero_height: 0.58 * 100vw;
    img {
        width: 100%;
        height: $hero_height;
    }
    .overlay-carousel {
        width: 100%;
        color: $color_2;
        position: absolute;
        z-index: 10;
        background-color: #1414146b;
        h2 {
            font-size: 18px;
            font-family: "Metropolis-black";
        }
        img {
            width: 23px;
        }
        .row-overlay {
            height: $hero_height;
            width: 100%;
            margin: 0;
        }
    }
}

#main-information {
    color: $color_2;
    .info-left {
        z-index: 1;
        border-radius: 7px;
        background-color: $color_3;
        img {
            height: 55px;
            margin-top: 16px;
        }
        h5 {
            font-size: 17px;
            font-family: "Gotham-bold";
        }
        p {
            font-size: 12px;
            margin-top: -3px;
        }
    }
    .info-right {
        border-radius: 0 7px 7px 0;
        background-color: $color_4;
        p {
            margin: 50px 0 50px 0;
            font-size: 15px;
        }
    }
}

#projects {
    color: $color_2;
    background-color: $color_1;
    background-size: 150% 270%;
    background-repeat: no-repeat;
    background-position: 55%;
    background-image: url("../img/background-projects.svg");
    h3 {
        margin-top: 0;
        font-size: 24px;
        font-family: "Metropolis-black";
        padding-top: 15px;
        margin-bottom: 8px;
    }
    .project-scroll {
        overflow: auto;
        white-space: nowrap;
        width: 100%;
    }
    .projects-showed {
        width: max-content;
        margin: 0 auto 0 auto;
        position: relative;
        right: -400px;
    }
    .project-card {
        background-color: $color_3;
        border-radius: 5px;
        width: 130px;
        margin: 0 auto 0 auto;
        img {
            margin-top: 8px;
            border-radius: 13px;
            width: 110px;
            height: 90px;
        }
        h4 {
            white-space: normal;
            margin-top: -5px;
            text-align: left;
            font-size: 13px;
            padding: 10px;
        }
    }
}

#workers {
    color: $color_2;
    background-color: $color_1;
    background-size: 200% 105%;
    background-repeat: no-repeat;
    background-position: 75%;
    background-image: url("../img/background-workers.png");
    h3 {
        margin-top: 0;
        font-size: 26px;
        font-family: "Metropolis-black";
        padding-top: 15px;
        margin-bottom: 8px;
    }
    p {
        font-size: 10px;
        text-align: left;
    }
    #workers-photos-1,
    #workers-photos-2,
    #workers-photos-3 {
        z-index: 2;
        background-size: 90% 90%;
        background-repeat: no-repeat;
        margin: 5px 0 20px 0;
        position: relative;
        img {
            width: 50%;
            margin: 0 -3px 0 -3px;
            border-radius: 5px;
        }
    }
    #workers-photos-1,
    #workers-photos-3 {
        background-image: url("../img/workers-bg-2.svg");
        background-position: 100% 100%;
        padding-right: 18px;
        padding-bottom: 5px;
        left: 1%;
    }
    #workers-photos-2 {
        background-image: url("../img/workers-bg-1.svg");
        padding-top: 16px;
        padding-left: 16px;
        margin-top: 20px;
        right: 1%;
    }
}

//Contact_us page
#main_contact-us {
    min-height: 95vh;
}

#information_welcome {
    h2 {
        font-family: "Gotham-bold";
        font-size: 22px;
        margin-bottom: 10px;
    }
    p {
        font-family: "Metropolis";
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

#information-1_contact-us,
#information-2_contact-us {
    background-color: $color_1;
    color: $color_2;
    h2 {
        font-family: "Gotham-bold";
        font-size: 20px;
        margin-bottom: 10px;
        padding-top: 25px;
        padding-bottom: 10px;
    }
    iframe {
        width: 80%;
        height: 25vh;
    }
}

#under_map_contac-us {
    padding-bottom: 20px;
    p {
        font-family: "Metropolis-medium";
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .col {
        margin-left: 10px;
    }
}

#form-coniser {
    margin-top: 25px;
    label {
        font-family: "Metropolis-bold";
        font-size: 18px;
    }
    /* label focus color */
    .input-field input[type=text]:focus+label {
        color: $color_3;
    }
    .input-field input[type=email]:focus+label {
        color: $color_3;
    }
    .input-field input[type=tel]:focus+label {
        color: $color_3;
    }
    .input-field input[type=email]:focus+label {
        color: $color_3;
    }
    .input-field textarea:focus+label {
        color: $color_3;
    }
    .row .input-field input:focus {
        border-bottom: 1px solid $color_3 !important;
        box-shadow: 0 1px 0 0 $color_3 !important
    }
    .row .input-field textarea:focus {
        border-bottom: 1px solid $color_3 !important;
        box-shadow: 0 1px 0 0 $color_3 !important
    }
    .input-field .prefix.active {
        color: $color_3;
    }
    button {
        background-color: $color_3;
        font-family: "Metropolis-bold";
        font-size: 20px;
    }
}

//about_us
#main_about-us {
    min-height: 93vh;
    section {
        margin-bottom: 3em;
    }
    #logo_about-us {
        background-color: $color_4;
        img {
            margin: 30px auto 10px auto;
            width: 80vw;
        }
    }
    #information-1_about-us,
    #information-2_about-us {
        color: $color_2;
        background-color: transparent;
        h2 {
            margin: 0;
            padding-top: 10px;
            font-family: "Metropolis-bold";
            font-size: 2em;
        }
        p {
            margin: 0;
            padding-bottom: 10px;
            font-size: 1em;
        }
        div {
            .img-container {
                border-radius: 15px;
                height: 25em;
                margin-top: 2em;
                margin-bottom: 2em;
                img {
                    width: 100%;
                    height: 90%;
                    object-fit: contain;
                }
            }
            .descrip-container {
                height: 22em;
            }
        }
    }
    #information-1_about-us {
        div {
            background-color: $color_3;
            .img-container {
                background-color: $color_1;
            }
            .descrip-container {
                background-color: $color_3;
                border-radius: 0 12px 12px 0;
            }
        }
    }
    #information-2_about-us {
        div {
            background-color: $color_1;
            .img-container {
                background-color: $color_3;
                img {
                    border-radius: 13px;
                    object-fit: cover;
                }
            }
            .descrip-container {
                background-color: $color_1;
            }
            .descrip-container {
                border-radius: 12px 0 0 12px;
            }
        }
    }
}

//projects
#main_projects {
    #hero-projects {
        $hero_height: 0.4 * 100vw;
        img {
            width: 100%;
            height: $hero_height;
        }
        .overlay-carousel {
            width: 100%;
            color: $color_2;
            position: absolute;
            z-index: 10;
            background-color: #1414146b;
            h2 {
                font-size: 35px;
                font-family: "Metropolis-black";
            }
            img {
                width: 23px;
            }
            .row-overlay {
                height: $hero_height;
                width: 100%;
                margin: 0;
            }
        }
    }
    #show-projects {
        h3 {
            font-size: 2.7rem;
        }
        .valign-wrapper {
            min-height: 80vh;
        }
        .project-card {
            background-color: $color_1;
            border-radius: 19px;
            color: $color_2;
            margin: 5px;
            img {
                margin-top: 15px;
                width: 90%;
            }
            h4 {
                font-size: 18px;
                padding-bottom: 15px;
            }
        }
    }
}

//service
#main_service {
    #hero-service {
        $hero_height: 0.45 * 100vw;
        img {
            width: 100%;
            height: $hero_height;
        }
        .overlay-carousel {
            width: 100%;
            color: $color_2;
            position: absolute;
            z-index: 10;
            background-color: #1414146b;
            h2 {
                font-size: 35px;
                font-family: "Gotham-bold";
            }
            img {
                width: 23px;
            }
            .row-overlay {
                height: $hero_height;
                width: 100%;
                margin: 0;
            }
        }
    }
    #our-service {
        $minhvh: 70vh;
        min-height: $minhvh;
        .container {
            margin-top: $minhvh*0.2;
        }
        .row {
            .col {
                margin-top: 10px;
                margin-bottom: 15px;
                color: $color_2;
                img {
                    width: 100%;
                    padding: 0.1em 0.5em 0.1em 0.5em;
                }
                p,
                h3 {
                    margin: 0;
                    padding: 0;
                    font-size: 10px;
                    font-family: "Gotham-bold";
                }
                h3 {
                    font-size: 16px;
                }
                .row {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

//footer
footer {
    background-color: $color_1;
    color: $color_2;
    margin-top: -20px;
    p {
        margin: 0;
        padding: 10px 0 10px 0;
        font-size: 10px;
    }
}

//others
.lineal-color-1 {
    background: linear-gradient( 90deg, #3C4447, #254B57, #105166)
}

.changing-size {
    @include transition( all 0.3s ease-in-out);
    &:hover {
        transform: scale(110%, 110%);
    }
}

@media screen and (min-width: 375px) {}

@media screen and (min-width: 425px) {}

@media screen and (min-width: 720px) {
    header {
        $nav_heigth: 64px;
        nav {
            height: $nav_heigth;
            line-height: $nav_heigth;
            #logo-coniser {
                margin-left: 30px;
                img {
                    width: 6em;
                }
            }
            a {
                font-family: "Gotham-bold";
            }
        }
    }
    footer {
        p {
            font-size: 20px;
        }
    }
    #hero {
        $hero_height: 0.56 * 100vw;
        img {
            height: $hero_height;
        }
        .overlay-carousel {
            h2 {
                font-size: 3rem;
                font-family: "Metropolis-black";
            }
            img {
                width: 3rem;
            }
            .row-overlay {
                height: $hero_height;
            }
        }
    }
    #main-information {
        color: $color_2;
        .info-left {
            z-index: 1;
            border-radius: 7px;
            background-color: $color_3;
            img {
                height: 100px;
                margin-top: 10px;
            }
            h5 {
                font-size: 37px;
            }
            p {
                font-size: 13px;
                margin-top: -2px;
            }
        }
        .info-right {
            border-radius: 0 7px 7px 0;
            background-color: $color_4;
            p {
                margin: 30px 0 30px 0;
                font-size: 16px;
            }
        }
    }
    #projects {
        h3 {
            font-size: 2.7rem;
        }
        .project-scroll {
            overflow: auto;
            white-space: nowrap;
            width: 100%;
        }
        .projects-showed {
            width: max-content;
            margin: 0 auto 0 auto;
            position: relative;
            right: -400px;
        }
        .project-card {
            border-radius: 19px;
            width: 230px;
            height: 300px;
            img {
                margin-top: 15px;
                width: 200px;
                height: 200px;
            }
            h4 {
                margin-top: -5px;
                font-size: 18px;
            }
        }
    }
    #workers {
        h3 {
            font-size: 2.7rem;
        }
        p {
            font-size: 1.5rem;
            text-align: center;
        }
        #workers-photos-1,
        #workers-photos-2,
        #workers-photos-3 {
            z-index: 2;
            background-size: 90% 90%;
            background-repeat: no-repeat;
            margin: 5px 0 20px 0;
            position: relative;
            img {
                width: 40%;
                margin: 0 -3px 0 -3px;
                border-radius: 5px;
            }
        }
        #workers-photos-1,
        #workers-photos-3 {
            background-image: url("../img/workers-bg-2.svg");
            padding-right: 25px;
        }
        #workers-photos-2 {
            background-image: url("../img/workers-bg-1.svg");
            padding-top: 13px;
            padding-left: 10px;
        }
    }
    //Contact_us
    #information_welcome {
        h2 {
            margin-top: 0;
            font-size: 54px;
        }
        p {
            font-size: 24px;
        }
    }
    #form-coniser {
        margin-top: 25px;
        label {
            font-family: "Metropolis-bold";
            font-size: 22px;
        }
        button {
            background-color: $color_3;
            font-family: "Metropolis-bold";
            font-size: 30px;
        }
    }
    #under_map_contac-us {
        padding-bottom: 20px;
        p {
            font-size: 26px;
        }
    }
    #information-1_contact-us,
    #information-2_contact-us {
        h2 {
            font-size: 44px;
        }
    }
    //about_us
    #main_about-us {
        #logo_about-us {
            background-color: $color_4;
            img {
                margin: 30px auto 10px auto;
                width: 70vw;
            }
        }
        #information-1_about-us {
            div {
                background-color: transparent;
            }
        }
        #information-2_about-us {
            div {
                background-color: transparent;
            }
        }
    }
    //projects
    #main_projects {
        #hero-projects {
            $hero_height: 0.25 * 100vw;
            img {
                width: 100%;
                height: $hero_height;
            }
            .overlay-carousel {
                h2 {
                    font-size: 78px;
                }
                .row-overlay {
                    height: $hero_height;
                }
            }
        }
        #show-projects {
            .row {
                margin: 0 5em 0 5em;
                margin-bottom: 5em;
            }
            .project-card {
                border-radius: 19px;
                margin: 20px;
                img {
                    margin-top: 20px;
                    width: 90%;
                }
                h4 {
                    font-size: 22px;
                    padding: 0 15px 20px 15px;
                }
            }
        }
    }
    //service
    #main_service {
        #hero-service {
            $hero_height: 0.15 * 100vw;
            img {
                height: $hero_height;
            }
            .overlay-carousel {
                background: linear-gradient( 90deg, #37464B, #284A55, #184F60);
                h2 {
                    font-size: 50px;
                }
                .row-overlay {
                    height: $hero_height;
                }
            }
        }
        #our-service {
            // min-height: 90vh;
            .row {
                .col {
                    color: $color_2;
                    img {
                        width: 100%;
                        height: 100%;
                        padding: 0.5em 1.5em 1.5em 1.5em;
                    }
                    p,
                    h3 {
                        font-size: 18px;
                    }
                    h3 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #hero {
        $hero_height: 70vh;
        img {
            height: $hero_height;
        }
        .overlay-carousel {
            h2 {
                font-size: 3rem;
                font-family: "Metropolis-black";
            }
            img {
                width: 3rem;
            }
            .row-overlay {
                height: $hero_height;
            }
        }
    }
    //service
    #main_service {
        #hero-service {
            $hero_height: 0.10 * 100vw;
            img {
                height: $hero_height;
            }
            .overlay-carousel {
                background: linear-gradient( 90deg, #37464B, #284A55, #184F60);
                h2 {
                    font-size: 60px;
                }
                .row-overlay {
                    height: $hero_height;
                }
            }
        }
        #our-service {
            padding: 15vh 0 0 0 !important;
            min-height: 73vh;
            .row {
                .col {
                    img {
                        width: 100%;
                        height: 15em;
                        padding: 2em 30% 1.5em 30%;
                    }
                    p,
                    h3 {
                        padding: 0.1em 1em 0.5em 1em;
                        font-size: 18px;
                    }
                    p {
                        text-align: left !important;
                        padding: 0.1em 1.5em 0.5em 1.5em;
                    }
                    h3 {
                        font-size: 30px;
                    }
                }
            }
            .hide-on-large-obly {
                height: 100%;
            }
        }
    }
}

//64px del header despues.